/* COPYRIGTH © 2020 Hendra Maulidan */

* {
  margin: 0;
  padding: 0;
}
p {
  text-indent: 10px;
}

/* scroll bar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #dcf8c6;
}

::-webkit-scrollbar-thumb {
  background: #25d366;
  border-radius: 20px;
}

/* akhir scroll bar */

/* Pembuatan navigasi */
nav {
  z-index: 1;
  position: relative;
  height: 80px;
  margin: auto;
  text-align: center;
  width: auto;
  font-family: "Roboto Mono", monospace;
}

nav ul {
  margin-top: 20px;
  padding: 5 20px;
  list-style: none;
  position: relative;
  display: inline-table;
  width: auto;
}
nav ul li {
  display: inline;
  margin-right: 20;
  margin-left: 20;
  float: left;
  text-transform: uppercase;
}
nav ul li a {
  text-decoration: none;
  color: #dcf8c6;
  padding: 5px;
  font-size: 20px;
}
nav ul li a:hover {
  color: #25d366;
  border-bottom: 2px solid #25d366;
  border-radius: 10px;
  padding: 5px;
}
nav h1 {
  position: inherit;
  margin-right: 100px;
  display: block;
  font-family: "Roboto Mono", monospace;
  color: #075e54;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 10px #25d366;
}

/* Akhir Dari Navigasi */

.container {
  margin-left: 30px;
  margin-right: 30px;
}
.mt-2 {
  margin-top: 20px;
}

/* Pembuatan Jumbotron Gambar Hijau */

.jumbotron {
  
  margin-top: -90px;
  position: relative;
  width: fixed;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.bg-jumbotron{
  background-image: url(image/bg-1.jpg);
  /* Set a specific height */
  height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  
  
}
.text-jumbotron {
  margin-top: -300px;
  z-index: 9;
  position: relative;
}
.pd-2 {
  padding: 4px;
}

.paragraf p {
  display: block;
  width: 50%;
}
/* Akhir Pembuatan Jumbotron */

/* Button */
.btn {
  text-transform: uppercase;
  font-size: 20px;
  color: #fff;
  font-weight: 500;
  height: 40px;
  border-radius: 20px;
}
.btn-green:hover {
  color: #dcf8c6;
  background-color: transparent;
  border: 2px solid #dcf8c6;
  border-radius: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 30px 0 rgba(0, 0, 0, 0.19);
}
.btn-green:active {
  color: #25d366;
  background-color: transparent;
  border: 2px solid #25d366;
}
.btn-green {
  border: 2px solid #25d366;
  background-color: #25d366;
}

/* Akhir Button */

/* Desain teks judul */
h1 {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
}
.h1head {
  display: block;
  color: #dcf8c6;
}
/* akhir desain teks judul */

/* Kotak Pesan Nama dan Gambar Wajah */
.kotak {
  width: 700px;
  height: 200px;
  background: #f8f9fa;
  position: relative;
  z-index: 9999;
  border-radius: 15px;
  margin: auto;
  margin-top: 110px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.kotak-kecil {
  float: right;
  height: 200px;
  width: 300px;
  display: inline-block;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  background-image: url(image/owner.jpg);
}
.paragraf {
  padding: 10px;
  margin: 20 20;
  margin-left: 10px;
  color: #343a40 !important;
  font-family: "Roboto Mono", monospace;
}
.paragraf h2 {
  display: inline;
  border-bottom: 2px solid #343a40;
}
/* Akhir Kotak Pesan Nama dan Gambar Wajah */

/* Start Body */

.main {
  margin: 10;
  padding: 50;
  margin-top: 40px;
  width: auto;
  height: auto;
  background-color: #f8f9fa;
  border-radius: 7px;
  overflow: auto;
  /* box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19); */
}

.section1 {
  /* border-radius: 7px; */
  width: auto;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  display: block;
  float: left;
  width: 49%;
  /* background-color: #25d366; */
  /* background-color: #075e54; */
  border-right: 3px solid #075e54;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.section1 p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
}
.img401 {
  width: 35%;

  margin-right: 20px;
  border-radius: 5px;
  float: left;
}
.section2 {
  /* border-radius: 7px; */

  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  display: block;
  width: 49%;
  float: right;
  /* background-color: #25d366; */
  /* background-color: #075e54; */
  border-left: 3px solid #075e54;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}
.section2 p {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  font-family: "Roboto Mono", monospace;
}

.img402 {
  width: 35%;

  border-radius: 5px;
  float: right;
}

.clear {
  clear: both;
}

table{
    padding: 20px;
    margin-top: 10px;
}
.sectionContainer{
  
  display: block;
  
  width: auto;
  margin-top: 70px;
  height: 300px;
  /* background-color: #075e54; */
  border-radius: 5px;
  border: 5px solid  #f8f9fa;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 10px 0 rgba(0, 0, 0, 0.19);
}